---
import { ViewTransitions } from 'astro:transitions';
import { Toaster } from 'sonner';
import '../styles/global.css';
import { ProfileDropdown } from '../components/dashboard/ProfileDropdown';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="bg-gray-50 dark:bg-gray-900 flex flex-col min-h-screen">
		<header class="py-4 px-6 bg-white dark:bg-gray-800 shadow-md shrink-0">
			<div class="container mx-auto flex justify-between items-center">
				<a href="/" class="text-2xl font-bold text-gray-800 dark:text-white" id="homeLink">Zakupek</a>
				<ProfileDropdown client:load />
			</div>
		</header>
		<main class="flex-grow flex flex-col">
			<slot />
		</main>
		<Toaster richColors closeButton position="top-right" client:load />

		<script>
			// Update home link based on authentication status
			const homeLink = document.getElementById('homeLink') as HTMLAnchorElement;
			if (homeLink && localStorage.getItem('token')) {
				homeLink.href = '/lists';
			}
		</script>
	</body>
</html>

<style>
  html,
  body {
    margin: 0;
  }
</style>
